// Specific CSS for your home-page
.home-title {
  background: linear-gradient(90deg, #D0F44F 0%, #4DDCC3 100%);
  box-shadow: 0px 10px 20px 0px #00000040;
  font-family: TradeGothic LT Bold;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 1px;
  text-align: center;
}
