<div class="home-background row g-0">

  <div class="col-sm-12 col-md-6 m-auto text-center">

    <div class="d-flex align-items-center justify-content-center width-60 m-auto home-banner">
      <%= show_svg('friend-icon.svg') %>
      <h1 class="mx-2 mt-1 mb-1 home-title">FITMATES</h1>
    </div>
    <p class="home-subtitle">Get sweaty. Make friends.</p>

  </div>

</div>
